.border{
  border: 1px #337ab7;
  border-style: solid;
}
.bold{
  margin-bottom: 5px;
  font-weight: bold;
}

.top-margin{
  margin-top: 5px;
}

.delete-icon:hover{
  color: #337ab7;
}

input:focus::placeholder{
  color:#337ab7;
}

input:focus{
  outline: none;
}

#header{
  width:100%;
  position: absolute;
  height: 30px;
  color: red;
}

.navbar {
  background-color: #e3f2fd;
}

.logo{
  height: 75px;
  width: 144px;
}

.title{
  display: inline;
  font-size: 40px;
}

#login-card{
  height : 35rem;
  width : 35rem;
}

.login-href{
  font-size : 1.2em;
}